<main role="main">
  <%= render 'programs/navbar' %>
  <% unless params[:search].present? %>
    <%= render 'programs/news' %>
  <% end %>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @programs.each do |program| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-img-top">
              <%= image_tag Faker::LoremPixel.image(size: "348x250", is_gray: false, category: 'business') %>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <%= program.name %>
              </h5>
              <p class="card-text"><%= program.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "Solicita información", program_path(program), class: "btn btn-sm btn-outline-secondary btn-block" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div> <!-- ROW -->
    </div>
  </div>
</main>
<%= render 'layouts/footer' %>
