<%= render 'programs/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag Faker::LoremPixel.image(size: "1100x250", is_gray: false, category: 'business'), class: "img-responsive" %>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-md-8">
      <h2><%= @program.name %></h2>
      <h5>Description:</h5>
      <%= @program.description %>
    </div>
    <div class="col-md-4">
      <%= form_for(@contact, :url => contacts_path(@contact), method: :post, validate: true) do |f| %>
        <div class="form-group">
          <%= f.label :names, "Name (*)" %>
          <%= f.text_field :names, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :lastnames, "Lastname (*)" %>
          <%= f.text_field :lastnames, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :phone, "Phone (*)" %>
          <%= f.text_field :phone, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :email, "Email (*)" %>
          <%= f.email_field :email, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= f.fields_for :questions, @postulation.questions.build  do |q| %>
              <%= q.label :body, "Question" %>
              <%= q.text_area :body, class: "form-control" %>
          <% end %>
        </div>
        <%= f.hidden_field :program_id, value: params[:id] %>
        <div class="form-group">
          <small>(*) Required</small>
          <%= f.submit "Ask for information", class: "btn btn-danger btn-sm btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
