<%= render 'ccenter/navbar' %>
<div class="container pt-3">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Messages</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <div class="card">
                      <div class="card-header">
                        <strong>User Profile</strong>
                      </div>
                      <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Name</h6>
                                <p>
                                    <% fullname = @contact.names + " " + @contact.lastnames %>
                                    <%= fullname %>
                                </p>
                                <h6>Email</h6>
                                <p>
                                    <%= @contact.email %>
                                </p>
                                <h6>Ident Cod</h6>
                                <p>
                                  <% ident = @contact.ident_type + @contact.ident_cod if @contact.ident_cod %>
                                    <%= ident.present? ? ident : "Pending" %>
                                </p>
                                <h6>Birth date</h6>
                                <p>
                                  <% birth_date = @contact.birth_date.strftime('%d-%m-%Y') if @contact.birth_date %>
                                  <%= birth_date.present? ? birth_date : "Pending" %>
                                </p>
                                <h6>Civil Status</h6>
                                <p>
                                  <% civil_status = @contact.civil_status %>
                                  <%= civil_status.present? ? civil_status : "Pending" %>
                                </p>
                                <h6>Address</h6>
                                <p>
                                  <% address = @contact.address %>
                                  <%= address.present? ? address : "Pending" %>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h6>Last Post Status</h6>
                                <span class="badge <%= status_color(@last_post.status) %>"><%= @last_post.status %></span>
                                <h6>Entry Date</h6>
                                <p>
                                  <%= @contact.created_at.strftime('%d-%m-%Y') if @contact.created_at %>
                                </p>
                                <h6>Gender</h6>
                                <p>
                                    <% gender = @contact.gender %>
                                    <%= gender.present? ? gender : "Pending" %>
                                </p>
                                <h6>Phone</h6>
                                <p>
                                  <% phone = @contact.phone  %>
                                  <%= phone.present? ? phone : "Pending" %>
                                </p>
                                <h6>Country</h6>
                                <p>
                                  <% country = @contact.country %>
                                  <%= country.present? ? country : "Pending" %>
                                </p>
                                <h6>City</h6>
                                <p>
                                  <% city = @contact.city %>
                                  <%= city.present? ? city : "Pending" %>
                                </p>
                            </div>
                        </div>
                        <!--/row-->
                      </div>
                    </div>
                </div>
                <div class="tab-pane" id="messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                          <% @questions.each do |question| %>
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold"><%= question.created_at.strftime('%d-%m-%Y') if question.created_at %></span>
                                   <%= question.body %>
                                </td>
                            </tr>
                          <% end %>
                          <%= @questions.empty? ? "No messages from #{fullname}" : '' %>
                        </tbody>
                    </table>
                    <div class="container">
                      <div class="row">
                        <span>Write a message</span>
                        <textarea name="name" rows="8" cols="80" class="form-control"></textarea>
                        <div class="form-group pt-3">
                          <button type="submit" name="button" class="btn btn-primary">Enviar</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <button class="btn btn-secondary">Choose file</button>
            </label>
        </div>
    </div>
</div>
